<!-- development version, includes helpful console warnings -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Peerster</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
  <style>
    .is-loading{
      background: red
    }
  </style>
</head>
<body>
  <div id="app" class="container">
  
  <h1>
  {{reverseTitle}}
  </h1>

  <peerster-message>
  <template slot="header">My Title</template>
  Text vservrse vservers
  </peerster-message>

    <ul>
      <li v-for="message in messages">
        {{message}}
      </li>
    </ul>
    <input id="New Input" type="text" v-model="newMessage">
    <button :class="{'is-loading': isLoading}" @click="addMessage">Add Message</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>
  <script src="js/messages.js"></script>

</body>
</html>



